<a href="https://colab.research.google.com/github/pacomm5/T_MASTER/blob/main/Regresi%C3%B3n_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive
import sklearn
from sklearn.impute import SimpleImputer
import numpy as np # este para matemáticas. 
import matplotlib.pyplot as plt # este para gráficos
import pandas as pd # perfecta carga, manipular.... datos.

In [6]:
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TRABAJO MASTER/df_est_total.csv", sep="|", encoding="ISO-8859-1")

In [7]:
df1.head()

,Fecha,id_cl,anno,mes,importe1,importe2,facturacion_ant,capital,gastos_personal,impuesto_sociedades,...,imp_7m,imp_8m,imp_9m,imp_10m,imp_11m,imp_12m,slope,intercept,trend,estacional
0,2017-01-01,2113,2017,1,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,si
1,2017-02-01,2113,2017,2,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,si
2,2017-03-01,2113,2017,3,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,si
3,2017-04-01,2113,2017,4,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,si
4,2017-05-01,2113,2017,5,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,si

In [10]:
df1.columns

Index(['Fecha', 'id_cl', 'anno', 'mes', 'importe1', 'importe2',
       'facturacion_ant', 'capital', 'gastos_personal', 'impuesto_sociedades',
       'cod_sector', 'des_sector', 'provincia', 'rama_actividad',
       'desc_actividad', 'PIB', 'cotiz_empleadores', 'imp2_tot_cl',
       'peso_imp2', 'imp_2m', 'imp_3m', 'imp_4m', 'imp_5m', 'imp_6m', 'imp_7m',
       'imp_8m', 'imp_9m', 'imp_10m', 'imp_11m', 'imp_12m', 'slope',
       'intercept', 'trend', 'estacional'],
      dtype='object')

In [35]:
df2 = df1[["Fecha", "id_cl", "capital", "gastos_personal","des_sector", "PIB", "cotiz_empleadores", "desc_actividad", "rama_actividad", "peso_imp2"]]
df2.tail()

,Fecha,id_cl,capital,gastos_personal,des_sector,PIB,cotiz_empleadores,desc_actividad,rama_actividad,peso_imp2
1226299,2019-08-01,175475,0.0,0.0,Actividades de construcciÃ³n especializada,70715000.0,8.052,ConstrucciÃ³n,F,0.027833
1226300,2019-09-01,175475,0.0,0.0,Actividades de construcciÃ³n especializada,70715000.0,8.052,ConstrucciÃ³n,F,0.027833
1226301,2019-10-01,175475,0.0,0.0,Actividades de construcciÃ³n especializada,70715000.0,8.052,ConstrucciÃ³n,F,0.027833
1226302,2019-11-01,175475,0.0,0.0,Actividades de construcciÃ³n especializada,70715000.0,8.052,ConstrucciÃ³n,F,0.027833
1226303,2019-12-01,175475,0.0,0.0,Actividades de construcciÃ³n especializada,70715000.0,8.052,ConstrucciÃ³n,F,0.025845

In [32]:
df2.dtypes

Fecha                 object
id_cl                  int64
capital              float64
gastos_personal      float64
des_sector            object
PIB                  float64
cotiz_empleadores    float64
desc_actividad        object
rama_actividad        object
dtype: object

In [33]:
df2.describe()

,id_cl,capital,gastos_personal,PIB,cotiz_empleadores
count,1.226304e+06,1.226304e+06,1.226304e+06,1.226304e+06,1.226304e+06
mean,1.009737e+05,1.799801e+06,-2.584279e+06,6.559439e+07,2.905921e+01
std,4.909769e+04,8.930602e+07,4.000833e+07,6.760153e+07,1.365281e+02
min,1.953000e+03,-4.525817e+08,-6.844186e+09,0.000000e+00,0.000000e+00
25%,6.042475e+04,0.000000e+00,-1.026262e+06,0.000000e+00,0.000000e+00
50%,1.053590e+05,0.000000e+00,-3.285915e+05,5.302000e+07,0.000000e+00
75%,1.436625e+05,5.500000e+04,-7.148175e+04,1.317200e+08,5.267000e+00
max,1.754750e+05,1.499469e+10,1.221200e+05,2.045890e+08,9.000000e+02

In [34]:
df2.isnull().sum()

Fecha                0
id_cl                0
capital              0
gastos_personal      0
des_sector           0
PIB                  0
cotiz_empleadores    0
desc_actividad       0
rama_actividad       0
dtype: int64